/headless_person.png
/person.png
venv311/
__pycache__/
*.pyc
.env
input/*
output/*
texture_input/*
output_2/*
temp.py
rclone-v1.72.1-windows-amd64
glitch_generater.py
glitch_generater2.py
glitch_generater3.py
glitch_generater4.py
glitch_generater5.py
glitch_generater6.py
glitch_generater7.py
glitch_generater8.py
glitch_generater9.py
glitch_generater_final.py
glitch_generater_ultimate.py
glitch_generater_texture.py
image
input_1
input_2
output_1
output_1
refile.py